body {
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
}

.title {
    display: flex;
    flex-direction: row;
    font-size: 48px;
}

.portfolio {
    font-weight: 900;
}

.name {
    margin-left: 12px;
}

.links {
    display: flex;
    gap: 20px;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 24px;
    color: black;
    border: 2px solid;
    padding: 5px 15px;
    border-radius: 8px;
    transition-duration: 0.4s;
}

a:hover {
    background-color: black;
    color: white;
}

.intro {
    margin-top: 100px;
    display: flex;
}

.introtext {
    margin-left: 50px;
}

.myNameIs {
    font-size: 24px;
    max-width: 600px;
}

.hi {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

img {
    border-radius: 8px;
}

.line1, .line2 {
    height: 5px;
    width: 700px;
    background-color: black;
}

.projekte {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
}

h2 {
    font-size: 48px;
    font-weight: bold;
}

.top {
    display: flex;
    margin-bottom: 50px;
}

.bioladen {
    font-size: 36px;
    font-weight: bold;
}

.design {
    border: 2px solid;
    border-color: gray;
}

.bottom {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.website {
    margin-bottom: 150px;
}

.line3 {
    height: 5px;
    width: 1000px;
    background-color: black;
    margin: auto;
    margin-bottom: 150px;
}

.top-reverse {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 50px;
}

.introtext-reverse {
    margin-right: 50px;
}

.logo {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.positive {
    border: 2px solid;
    border-color: gray;
}

.visitenkarte {
    margin-bottom: 150px;
}

.key {
    border: 2px solid;
    border-color: grey;
}

.keyvisual {
    margin-bottom: 150px;
}

.bezeichnung {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: -15px;
}

.details {
    font-size: 24px;
}

.jobs {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.aufgaben {
    font-size: 24px;
    margin-bottom: 150px;
}